<ul class="flex justify-center gap-6 semibold text-slate-700 text-lg">
    <li>
       <a href="">
        <app-button class="hidden lg:block" name="Sign In"></app-button>
        <app-button class="lg:hidden"name="Sign In" size="M" shade="W" animation="F"></app-button>
    </a>
    </li>
    <li>
        <a href="">
            <app-button class="hidden lg:block" name="Sign Up" size="L" shade="W" animation="F"></app-button>
            <app-button class="lg:hidden" name="Sign Up" size="M" shade="W" animation="F"></app-button>
        </a>
    </li>
</ul>
